<!DOCTYPE html>
<html xmlsn:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel = "stylesheet" th:href = "@{/css/demo.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
		<title>Add Employee</title>
	</head>
	<body>
		<h2 id = "img2"> Employee Directory</h2>
		<hr>
		
		<div class = "d-flex justify-content-center align-items-center container ">
			<div class = "container " >
				<h3>Employee Registration Form</h3><br>
				<form action = "#" th:action = "@{/employees/saveEmployee}" th:object = "${employee}" method = "POST">
            		<input type = "hidden" th:field = "*{id}"/>
            		<input type = "text" th:field = "*{firstName}" class = "form-control mb-4 col-4" placeholder = "First Name">
					<input type = "text" th:field = "*{lastName}" class = "form-control mb-4 col-4" placeholder = "Last Name">
					<input type = "text" th:field = "*{email}" class = "form-control mb-4 col-4" placeholder = "Email">
					<input type = "text" th:field = "*{salary}" class = "form-control mb-4 col-4" placeholder = "salary">
					<label>Department</label>
					<select th:field = "*{department}">
    					<option th:each = "aDepartment : ${departments}" 
    							th:value = "${aDepartment }"
    							th:text = "${aDepartment }"/>
					</select><br><br>
					<button class="btn btn-primary" type="submit" id = "saveButtonId">Save</button>
					<a class="btn btn-primary" th:href="@{/employees/list}" role="button">Employee List</a>
				</form>
			</div>
		</div>
	</body>
</html>