<!DOCTYPE html>
<html xmlsn:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel = "stylesheet" th:href = "@{/css/demo.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
		<title>List Employee</title>
	</head>
	<body>
		<div class = "container">
			<h2 id = "title"> Employee Directory</h2>
			<hr>
			<h3 style = "text-align : center"> List Employee</h3>
			<div>
				<a th:href = "@{/employees/showAddEmployeeForm}" class = "btn btn-primary"> Add Employee </a>
			</div>
			<br>
			<div id = "employeeTable">	
				<table  align="center" class="table table-bordered  table-hover">
				<thead class = "table-dark">
					<tr>
						<td>First Name</td>
						<td>Last Name</td>
						<td>Email</td>
						<td>Department</td>
						<td>Salary</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each = "tempEmployee : ${employees}">
						<td th:text = "${tempEmployee.firstName}"></td>
						<td th:text = "${tempEmployee.lastName}"></td>
						<td th:text = "${tempEmployee.email}"></td>
						<td th:text = "${tempEmployee.department}"></td>
						<td th:text = "${tempEmployee.salary}"></td>
						<td>
							<a  class="btn btn-success" th:href = "@{/employees/showUpdateEmployeeForm(employeeId=${tempEmployee.id})}">Update</a>
							<a  class="btn btn-danger" 
								th:href = "@{/employees/deleteEmployee(employeeId=${tempEmployee.id})}"
								onclick = "if(!confirm(('Are you sure you want to delete this Employee ?'))) return false">Delete</a>
						</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
		
		
	</body>
</html>